Source: wb-modbus-device-editor
Maintainer: Wiren Board Team <info@wirenboard.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13), dh-python, python3, python3-tk
Standards-Version: 4.5.1
Homepage: https://github.com/wirenboard/py-modbus-device-editor

Package: wb-modbus-device-editor
Architecture: all
Depends: ${misc:Depends}, python3:any (>= 3.10.0), python3-tk, python3-pymodbus
Description: Wiren Board modbus device editor